<h2 class="where">Types of Yoga</h2>
<br>
<div class="grid-container">
  <% for yoga in @yogas %>
    <div class="grid-item">
      <a href="/yogas/<%= yoga.id %>"><img src="<%= yoga.image_url %>" alt="yoga.type"></a>
      <p><a href="/yogas/<%= yoga.id %>"><%= yoga.type %></a></p>
    </div>
    <% end %>
</div>
