<div class="homepage">
  <br>
  <br>
  <br>
<h1>Welcome to ZenTracker</h1>
<br>
<h2 class="zen">Find Your Zen...</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- <form action="/">
  <label for="destination">Search Destinations:</label>
  <input type="text" id="destination" name="destination">
  <input type="submit" value="Go">
</form> -->
