<div class="homepage">
  <br>
  <br>
  <br>
<h1>Welcome to ZenTracker</h1>
<br>
<h2 class="zen">Find Your Zen...</h2>
<br><br><br>
<div class="search">
<form action="/" method ="POST">
  <label for="search">Search for a City</label><br>
  <input type="text" id="destination" name="name">
  <input type="submit" value="Go">
</form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
