<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ZenTracker</title>
    <link rel="icon" href="https://previews.123rf.com/images/orfeev/orfeev1608/orfeev160800062/63136045-yoga-silhouette.jpg" />
</head>
<body>
  <main>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/continents">Continents</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/yogas">Yoga</a></li>
        <li><a href="/yoga-experiences">Experiences</a></li>
        <li><a href="/bucket-list">My Zen</a></li>
      </ul>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>
