<br><h2 class="where">Enlightenment is Just Around the Corner...</h2><br>
<p class="info">Float away with these specially curated yoga experiences, tailored just for you.</p>
<div class="grid-container">
  <% for experience in @experiences %>
    <div class="grid-item">
      <img src="<%= experience.image_url %>" alt="<%= experience.studio_name %>">
      <p><a href="/yoga-experiences/<%= experience.id %>"><%= experience.studio_name %></a></p>
      <% if experience.bucket_list == "t" %>
        <p>On your bucket list</p>
      <% end %>
    </div>
  <% end %>
</div>
