<h2 class="where">Add a New City</h2>
<br><br><br>
<div class="new">
  <div class="block">
<form action="/cities" method="POST">
  <label for="city-name">City Name:</label>
    <input type="text" id="city-name" name="name">
    <br><br>
  <label>Country
    <select name="country_id">
      <% for country in @countries %>
        <option value="<%= country.id %>"><%= country.name %></option>
      <% end %>
    </select>
  </label>
  <br><br>
  <label for="visited">Visited?</label>
    <select name="visited">
      <option value="t">Yes</option>
      <option value="f">Not Yet</option>
    </select>
  <input type="hidden" name="image_url" value="http://www3.pictures.zimbio.com/mp/ot5NRtE9T0Ix.jpg">
  <input type="hidden" name="map_url" value="https://www.fly4free.com/wp-content/uploads/2016/12/brs1.png">
  <input type="hidden" name="distance" value="1000">
  <br><br>
  <input type="submit" value="Add City" class="btn-add-to-bucket-list">
</form>
</div>
</div>
