<h1>Where would you like to go?</h1>
<form action="/countries/visited" method="POST">
  <select name="sort-countries" id="sort-countries">
    <option value="all">All</option>
    <option value="visited">Visited</option>
    <option value="not-visited">Not Visited</option>
  </select>
  <input type="submit" value="Show">
</form><br>
<div class="grid-container">
  <% for country in @countries %>
    <div class="grid-item">
      <img src="<%= country.image_url %>" alt="<%= country.name %>">
      <p><a href="/countries/<%= country.id %>"><%= country.name %></a></p>
    </div>
  <% end %>
</div>
